.label-bar{
    bottom: 10%;
    left: 5%;
    pointer-events: none;
    transition: .5s;
}

.input-bar{
    &:focus + .label-bar,
    &:valid + .label-bar{
        bottom:40%;
        left: 3%;
        transform: scale(.9);
    }
}