

.label-bar{
    bottom: 40%;
    pointer-events: none;
    transition: .5s;
}

.input-bar{
    &:focus + .label-bar,
    &:valid + .label-bar{
        bottom: 65%;
        left: 0;
        transform: scale(.9);
    }
}